<meta charset="UTF-8">
<div class="table-responsive" ng-init="initQuestionTable()">
	<!-- / .table -->
	<table class="table table-bordered m-b-0" style="" ng-init="initQuestion2()" id="tableProjectInfo">
		<tbody>
			<tr>
				<td width="30%" class="pre-wrap" data-columnName="" ng-bind="projectLable.projectName"></td>
				<td width="70%" class="pre-wrap" data-columnName="specialExplain" contentEditable="true" ng-bind="reportInfo.name"></td>
			</tr>
			<tr>
				<td class="pre-wrap" data-columnName="" ng-bind="projectLable.companyName"></td>
				<td class="pre-wrap" data-columnName="innovation" contentEditable="true" ng-bind="reportInfo.charge"></td>
			</tr>
			<tr>
				<td class="pre-wrap" data-columnName="" ng-bind="projectLable.traningAmount"></td>
				<td class="pre-wrap" data-columnName="changeConditions" contentEditable="true" ng-bind="reportInfo.meetingNumber"></td>
			</tr>
			<tr>
				<td class="pre-wrap" data-columnName="" ng-bind="projectLable.NoTraningAmount"></td>
				<td class="pre-wrap" data-columnName="riskDescription" contentEditable="true" ng-bind="reportInfo.otherManagement"></td>
			</tr>
			<tr>
				<td class="pre-wrap" data-columnName="" ng-bind="projectLable.chuDianZongjie"></td>
				<td class="pre-wrap" data-columnName="summary" contentEditable="true" ng-bind="reportInfo.majorIssues"></td>
			</tr>
			<tr>
				<td class="pre-wrap" data-columnName="" ng-bind="projectLable.zhiJieShouYiRenShu"></td>
				<td class="pre-wrap" data-columnName="improvementPlan" contentEditable="true" ng-bind="reportInfo.reviewTimes"></td>
			</tr>
			<tr>
				<td class="pre-wrap" data-columnName="" ng-bind="projectLable.zhiJieShouYiRenCi"></td>
				<td class="pre-wrap" data-columnName="improvementPlan" contentEditable="true" ng-bind="reportInfo.docOutputNumber"></td>
			</tr>
			<tr>
				<td class="pre-wrap" data-columnName="" ng-bind="projectLable.jianJieShouYiRenShu"></td>
				<td class="pre-wrap" data-columnName="improvementPlan" contentEditable="true" ng-bind="reportInfo.codeReviewTimes"></td>
			</tr>
			<tr>
				<td class="pre-wrap" data-columnName="" ng-bind="projectLable.zhiJieShouYiRenCi"></td>
				<td class="pre-wrap" data-columnName="improvementPlan" contentEditable="true" ng-bind="reportInfo.versionOutputNumber"></td>
			</tr>
			<tr>
				<td class="pre-wrap" data-columnName="" ng-bind="projectLable.xiangMuBiangeng"></td>
				<td class="pre-wrap" data-columnName="improvementPlan" contentEditable="true" ng-bind="reportInfo.change"></td>
			</tr>
			<tr>
				<td class="pre-wrap" data-columnName="" ng-bind="projectLable.meiTiBaoDaoCishu"></td>
				<td class="pre-wrap" data-columnName="improvementPlan" contentEditable="true" ng-bind="reportInfo.versionUpgrade"></td>
			</tr>
			<tr>
				<td class="pre-wrap" data-columnName="" ng-bind="projectLable.meiTiBaoDaoLianJie"></td>
				<td class="pre-wrap" data-columnName="improvementPlan" contentEditable="true" ng-bind="reportInfo.updateProblemTracking"></td>
			</tr>
			
			<tr>
				<td class="pre-wrap" data-columnName="" ng-bind="projectLable.gaiJinJiHua"></td>
				<td class="pre-wrap" data-columnName="improvementPlan" contentEditable="true" ng-bind="reportInfo.improvementPlan"></td>
			</tr>
			<tr>
				<td class="pre-wrap" data-columnName="" ng-bind="projectLable.xiaYueJiHua"></td>
				<td class="pre-wrap" data-columnName="improvementPlan" contentEditable="true" ng-bind="reportInfo.nextMonthPlan"></td>
			</tr>
			
		</tbody>
	</table>
	<!-- / .table -->
	
	<table class="table table-bordered m-b-0" id="questionTemplateC">
		<thead>
		     <tr >
				<th class="align-center"  colspan="5" class="pre-wrap"  data-columnName="" ng-bind="projectLable.benYueGongZuoJieshao"></th>
				
			</tr>
			<tr>
				<th width="5%" data-columnName="index">序号</th>
				<th width="15%" data-columnName="date">时间</th>
				<th width="20%" class="align-center" data-columnName="title">名称</th>
				<th width="30%" class="align-center" data-columnName="content">内容</th>
				<th width="30%" class="align-center" data-columnName="produce">产出</th>
			
			</tr>
		</thead>
		<tbody>
			<!--tbody的class名不能为‘show’,否则表格不能自动撑开-->
			<tr ng-repeat="data in reportInfo.progressList" data-id="{{$index}}">
				<td class="align-center">{{$index+1}}</td>
				<td class="pre-wrap" data-columnName="time" onblur="checkThisVal(this);" needblur="false" contentEditable="true" ng-bind="data.time"></td>
				<td class="pre-wrap" data-columnName="title" onblur="checkThisVal(this);" needblur="false" contentEditable="true" ng-bind="data.name"></td>
				<td class="pre-wrap" data-columnName="content" onblur="checkThisVal(this);" needblur="false" contentEditable="true" ng-bind="data.content"></td>
				<td class="pre-wrap" data-columnName="produce" onblur="checkThisVal(this);" needblur="false" contentEditable="true" ng-bind="data.output"></td>
			</tr>
		</tbody>
	</table>
	
</div>
<!-- / .table-responsive -->
